<script type="text/javascript">
  $(document).ready(function(){
     $('#store_region_id').change(function(){
      var regiondata = {region_id : $('#store_region_id').val() };
      $.ajax({
        method: 'GET',
        url: '/zipcodes/get_region_zipcodes',
        data: regiondata,
        dataType: 'json',
        statusCode: {
        }
      }).done(function(res){
        $('#store_zipcode_id').html('<option value="0">Select Zipcode</option>');
        $.each(res,function(index,value){
          $('#store_zipcode_id').append('<option value="'+value.id+'">'+value.zipcode+'</option>');
        });
      }).fail(function(res){
        alert("request failed");
      });
    });     
  });
</script>

<div id="store_form">
<div class="row">
<div class="col-md-12">
<%= form_for @store , remote: true do |f| %>

  <div class="col-md-6">
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name , class: "form-control" , required: true%>
    </div>
    <div class="field">
      <%= f.label :ph_num %><br>
      <%= f.number_field :ph_num,class: "form-control" , required: true %>
    </div>
    <div class="field">
      <%= f.label :website %><br>
      <%= f.text_field :website,class: "form-control" , required: true%>
    </div>

    <div class="field">
      <%= f.label :region %><br>
      <%= f.collection_select :region_id, Region.all, :id, :region, {prompt:"select region"} ,class: "form-control" , required: true%>
    </div>
    <div class="field">
      <%= f.label :zipcode %><br>
      <%= f.collection_select :zipcode_id, Zipcode.all, :id, :zipcode, {prompt:"select Zipcode"} ,class: "form-control" , required: true %>
    </div>
    <div class="field">
      <%= f.label :tag_list, "Tags(separated by commas)" %><br>
      <%= f.text_field :tag_list ,class: "form-control" %>
    </div>
  </div>

  <div class="col-md-6">
    Addresses:
    <%= render "addresses/nested_form" %>
    <div class="actions">
     <%= f.submit class: "btn btn-success" %>
    </div>
  </div>


<% end %>
</div>
</div>
</div>
<div id="after_form_Index"></div>
