<script type="text/javascript">
  $(document).ready(function(){
     $('#store_region_id').change(function(){
      var regiondata = {region_id : $('#store_region_id').val() };
      $.ajax({
        method: 'GET',
        url: '/zipcodes/get_region_zipcodes',
        data: regiondata,
        dataType: 'json',
        statusCode: {
        }
      }).done(function(res){
        $('#store_zipcode_id').html('<option value="0">Select Zipcode</option>');
        $.each(res,function(index,value){
          $('#store_zipcode_id').append('<option value="'+value.id+'">'+value.zipcode+'</option>');
        });
      }).fail(function(res){
        alert("request failed");
      });
    });     
  });
</script>

<div id="store_form">
<%= form_for @store , remote: true do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :ph_num %><br>
    <%= f.number_field :ph_num %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>

  Addresses:

  <%= f.fields_for :addresses do |builder| %>
    <%= render "address_fields", :f => builder %>
  <% end %>

  <div class="field">
    <%= f.label :region %><br>
    <%= f.collection_select :region_id, Region.all, :id, :region, {prompt:"select region"}%>
  </div>
  <div class="field">
    <%= f.label :zipcode %><br>
    <%= f.collection_select :zipcode_id, Zipcode.all, :id, :zipcode, {prompt:"select Zipcode"}%>
  </div>
  <div class="field">
    <%= f.label :tags %><br>
    <%= f.text_field :tags %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
<div id="after_form_Index"></div>