<div id="tag_cloud">
  <% tag_cloud Store.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name) , class:css_class %>
  <% end %>
</div>

<%# if @stores.count > 0 %>
 <!--  <h3 style="margin:15px"> Found <%#= @stores.count %> matching results! </h3> -->
<%# end %>

<% @stores.each do |store|%>
  <div class="col-md-3 store_list">   
      <h2><%= store.name %></h2> <br>
      <% i = 0%>
      <% store.addresses.each do |address| %>
      Address: <%= i += 1 %><br> 
        <%= address.street1 %> <br>
        <%= address.street2 %> <br>
      <% end %>
      Region: <%= store.region.region %> <br>
      Zipcode: <%= store.zipcode.zipcode %> <br>
      Ph:<%= store.ph_num %> <br> 
      Website:<%= store.website %> <br>
      Cuisine:<%= store.tags %> <br>
    </div>
<% end %>
