<script type="text/javascript">
    $(document).ready(function() {
    $('#store_index').DataTable();
} );
</script>

<script type="text/javascript">
  $('document').ready(function() {
  setTimeout(function() {
    $('.notice').slideUp();
  }, 3000);
});  
</script>

<!-- flash works here -->

<% if user_signed_in? %>
<% if can? :create, Store %>

<%#= render "stores/admin_search_form" %>

  <h1>Listing Stores</h1>
  <div id="storeIndex">
  <table class = "table table-stripped" id="store_index">
    <thead>
      <tr>
        <th>Name</th>
        <th>Ph num</th>
        <th>Website</th>
        <th>Tags</th>
        <th>Address</th>
        <th>Region</th>
        <th>Zipcode</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @stores.each do |store| %>
        <tr>
          <td><%= store.name %></td>
          <td><%= store.ph_num %></td>
          <td><%= store.website %></td>
          <td><%= store.tag_list %></td>
          <td>
          <% i = 0%>
          <% store.addresses.each do |address| %>
          Address: <%= i += 1 %><br> 
            <%= address.street1 %> <br>
            <%= address.street2 %> <br>
          <% end %>
          </td>   
          <td><%= store.region.region%></td>
          <td><%= store.zipcode.zipcode %>
          <td><%= link_to 'Show', store %> |
          <%= link_to 'Edit', edit_store_path(store) %> |
          <%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  <%= link_to 'New Store', new_store_path %>
  <br>
<% end %>
<% end %>

