<script type="text/javascript">
    $(document).ready(function() {
    $('#store_index').DataTable();
} );
</script>

<h1>Listing Stores</h1>
<table class = "table table-stripped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Ph num</th>
      <th>Website</th>
      <th>Tags</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.name %></td>
        <td><%= store.ph_num %></td>
        <td><%= store.website %></td>
        <td><%= store.tags %></td>
        <td><%= link_to 'Show', store %> |
        <%= link_to 'Edit', edit_store_path(store) %> |
        <%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Store', new_store_path %>
<br>



