<% if user_signed_in? %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Ph num:</strong>
  <%= @store.ph_num %>
</p>

<p>
  <strong>Website:</strong>
  <%= @store.website %>
</p>

<p>
  <strong>Region:</strong>
  <%= @store.region.region %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @store.zipcode.zipcode %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @store.tag_list %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
<% end %>