<script type="text/javascript">
$('document').ready(function() {
  setTimeout(function() {
    $('.notice').slideUp();
  }, 3000);
  $("#search-form").click(function(){
    $("#page_index").hide();
  });
});  
</script>

<style type="text/css">
  .store_list {
    width: 300px;
    border: 15px solid grey;
    padding: 15px;
    margin: 15px;
}
</style>

<% @stores.each do |store|%>
	<div class="col-md-3 store_list" align="center">   
	    <h2><%= store.name %></h2> <br>
      <% i = 0%>
      <% store.addresses.each do |address| %>
      Address: <%= i += 1 %><br> 
        <%= address.street1 %> <br>
        <%= address.street2 %> <br>
      <% end %>
      Region: <%= store.region.region %> <br>
      Zipcode: <%= store.zipcode.zipcode %> <br>
	    Ph:<%= store.ph_num %> <br> 
	    Website:<%= store.website %> <br>
	    Cuisine:<%= store.tags %> <br>
    </div>
<% end %>
