<script type="text/javascript">
$('document').ready(function() {
  setTimeout(function() {
    $('.notice').slideUp();
  }, 3000);
  $("#search-form").click(function(){
    $("#page_index").hide();
  });
});  
</script>

<style type="text/css">
  .store_list {
    width: 300px;
    border: 15px solid grey;
    padding: 15px;
    margin: 15px;
}
</style>
<% @stores.each do |store|%>
	<div class="col-md-3 store_list">   
	    <h2><%= store.name %></h2> <br>
	    Ph:<%= store.ph_num %> <br> 
	    Website:<%= store.website %> <br>
	    Cuisine:<%= store.tags %> <br>
      Region: <%= store.region.region %> <br>
      Zipcode: <%= store.zipcode.zipcode %> <br>
    </div>
<% end %>
